body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../../assets/img/banner-bg.png');
  background-size: cover;
  background-position: center;
  color: white;
}

.paper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.avatar {
  margin: 8px;
  background-color: #f50057;
}

.form {
  width: 100%;
  margin-top: 8px;
}

.form label,
.form input {
  color: white;
  font-size: 18px;
}

.submit {
  margin: 24px 0 16px;
  font-size: 20px;
  background-color: #6200ea; /* Cambia el color del botón a morado oscuro */
  color: white; /* Cambia el color del texto del botón a blanco */
}

.forgot-password {
  color: white; /* Cambia el color del texto del enlace "Forgot password?" a blanco */
}
